.heading {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.text {
  font-size: 1.2rem;
  text-align: center;
}

@media only screen and (max-width: 1045px) {
  .heading {
    font-size: 1.5rem;
    text-align: left;
  }

  .text {
    font-size: 1rem;
    text-align: left;
  }
}
